@*
    
*@
@{
    ViewData["Title"] = "Home Page";
}
<h1>Registro de Covid</h1>
<p>El siguiente formulario es para llevar el registro de casos reportados de Covid  por departamento y genero.</p>
<h2>Reportar casos</h2>
<br />
<form>
    <div class="form-group row mb-4">
        <div class="col-sm-2">
           
            @Html.Label("lbldepartamento","Departamento")
            @Html.DropDownList("ddlcovid","Seleccione un departamento...")
        </div>
        <div class="col-sm-4">
            @Html.Label("lblgenero","Genero")
            @Html.DropDownList("ddlgenero")
        </div>

    </div>
</form>